.dialog.connect_dialog div[role='dialog'] {
    max-width: 479px;
    width: 100%;
}

.connect_wallets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    gap: 16px;
    width: 100%;
}

.connect_dialog .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.connect_dialog .header > img:hover {
    cursor: pointer;
}

.connect_dialog > img {
    width: 181px;
}

.connect_dialog h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.connect_dialog h2 img {
    width: 160px;
    margin: 0 10px -5px 0;
}

.connect_wallets > p {
    margin: 0 10px;
}

.connect_wallets > button {
    background: #FAFA4521;
    border: 1px solid #FAFA4552;
    width: 100%;
    border-radius: 14px;
    padding: 12px 14px;
    height: 75px;
}

.connect_wallets > button > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: none;
}

.connect_wallets > button > span > svg {
    width: 42px;
    fill: #000;
    background: yellow;
    border-radius: 20px;
    padding: 5px;
}

.connect_wallets > button:disabled {
    opacity: 0.6;
    color: #FFFFFF;
    background: #222222;
}

.connect_wallets > button:hover {
    background: #FAFA4533;
    border: 1px solid #FAFA4580;
}

.connect_wallets > button > span:first-child {
    justify-content: flex-start;
}

.connect_wallets > button img {
    width: 30px;
    margin-right: 10px;
}

.connect_dialog .download_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.download_actions a {
    color: #e0e0e0;
}

.connect_wallets .button_div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.connect_wallets .download_button {
    background: #FFFFFF;
    margin-left: 20px;
    color: #222222;
    width: 30px;
    height: 30px;
}

.connect_wallets .download_button:hover {
    background: #FFFFFF;
}

.connect_wallets .download_button svg {
    width: 20px;
}

.connect_dialog .powered_by {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-decoration: unset;
    color: #FFFFFF;
}

.connect_dialog .powered_by > img {
    width: 50px;
    margin: 0 10px;
    border-radius: 50px;
}

.connect_dialog .disconnect_button svg {
    background: #ff0;
    border-radius: 100px;
    padding: 2px;
    margin-right: 10px;
    width: 30px;
}

@media (max-width: 375px) {
    .connect_wallets .button_div {
        width: 100%;
    }

    .connect_wallets > button {
        min-width: auto;
    }
}
