.ibc_content {
    border-radius: 32px;
    backdrop-filter: blur(50px);
    padding: 32px;
    width: max-content;
    background: #000;
    width: 550px;
}

.ibc_content > p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
}

.ibc_content .header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.ibc_content .header_div > p {
    color: #ffffff;
    text-align: left;
    font-family: 'Blinker', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.ibc_content > span {
    color: #000;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}


/* transfer dialog */
.transfer_dialog {
    max-width: 500px;
    margin: 10px auto 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 450px;
}

.transfer_dialog .transfer_source {
    padding: 16px;
    position: relative;
}

.transfer_dialog .transfer_source .nam_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.transfer_dialog .transfer_source .nam_header > img {
    width: 44px;
    height: 44px;
}

.nam_header > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;

}

.nam_header > div > div {
    display: flex;
    max-width: 150px;
}

.nam_header > div > div > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transfer_dialog .header .header_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer_source .available_balance {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-left: 2px;
    margin-top: 5px;
}

.available_balance > p:first-child {
    color: #BFBFBF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Blinker', sans-serif;
}

.available_balance > p:last-child {
    color: #FFFF46;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Blinker', sans-serif;
}

.transfer_source .nam_tokens_secion {
    position: absolute;
    right: 5%;
    bottom: 47px;
}

.transfer_source .deposit_nam_tokens_secion {
    position: absolute;
    right: 5%;
    bottom: 109px;
}

.transfer_source .nam_tokens_secion > button,
.transfer_source .deposit_nam_tokens_secion > button {
    min-width: 0px;
    height: 31px;
    border-radius: 8px;
    border: 1px solid #FFFFFF14;
    background: #FFFFFF1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    color: #fff;
    padding: 0px 5px;
}

.transfer_source .header button {
    width: 100%;
    height: 40px;
    padding: 10px 8px;
    background: #fff;
    color: #0B0B0B;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

.transfer_dialog .nam_arrow {
    position: absolute;
    left: 45%;
    bottom: 160px !important;
}

.transfer_source .connect_keplr {
    width: 100%;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #0B0B0B;
    text-transform: none;
    font-family: 'Blinker', sans-serif;
    height: 40px;
    border-radius: 10px;
}

.transfer_dialog .nam_transfer_destination {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transfer_dialog .nam_transfer_destination > div {
    height: 69px;
    border-radius: 20px;
    padding: 42px 24px;
    display: flex;
    justify-content: center;
}

.transfer_dialog .nam_transfer_destination > div > p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Blinker', sans-serif;
}

.transfer_source .header button:hover,
.transfer_source .connect_keplr:hover {
    background: #f0f0f0ed;
}

.transfer_source .header button img {
    width: 20px;
    height: auto;
}

.transfer_source .header button > span:first-child {
    gap: 6px;
}

.transfer_source .header > .select_field {
    width: 100%;
    margin-top: 0px;
}

.transfer_dialog .header .logout_icon {
    cursor: pointer;
    margin-left: 4px;
}

.transfer_dialog > div {
    background: #0B0B0B;
    border-radius: 14px;
    border: 1px solid #1A1A1A;
}

.transfer_dialog .transfer_destination > div {
    border-radius: 16px;
    padding: 24px 16px 16px 16px;
    border: 1px solid #FFFF46;
}

.transfer_dialog > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.transfer_dialog > div > div.transfer_type {
    gap: 10px;
    margin-bottom: 30px;
}

.transfer_dialog .transfer_destination button {
    width: 100%;
    background: #262626;
    color: #fff;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: none;
    border: 1px solid transparent;
}

.transfer_dialog > div > div button.active_tab {
    border: 1px solid #FFFF46;
}

.transfer_dialog > div > div button:hover {
    background: #262626;
}

.transfer_dialog .address {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    text-align: left;
    flex: 1 1;
    display: flex;
    max-width: 150px;
}

.transfer_dialog .address > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.transfer_dialog > button {
    height: 47px;
    background: #FFFF46 !important;
    border-radius: 24px;
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    text-transform: capitalize;
    padding: 10px 30px;
    border: 2px solid #000;
}

.transfer_dialog > button:disabled {
    opacity: 0.5;
}

.transfer_dialog > .arrow {
    display: flex;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 140px;
}

.transfer_dialog .arrow > img {
    width: 80%;
    height: auto;
    margin: auto;
}

.transfer_dialog .transfer_source .select_section > div {
    width: 40%;
    margin: 5px 0px;
}

.transfer_dialog .transfer_source .select_section .amount_text_field {
    width: 60%;
    background: #FFFFFF0F;
    border-radius: 12px;
}

.transfer_dialog .transfer_source .text_field.amount_text_field input::placeholder,
.transfer_dialog .transfer_source .text_field.amount_text_field input {
    color: #fff;
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.transfer_dialog .transfer_source .text_field.amount_text_field fieldset {
    border-color: #FFFFFF05;
}

.transfer_dialog .select_section .select_field > div > div {
    background: #FFFFFF0F;
    border-radius: 12px;
    height: 46px;
    border: 1px solid #FFFFFF05;
}

.transfer_dialog .select_field > div > div {
    align-items: center;
    border: 1px solid #1A1A1A;
    border-radius: 12px;
    box-sizing: border-box;
    color: #b1b1b1;
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    height: 46px;
}

.phase5_disable > div {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.phase5_disable > div > p {
    color: #ef4444;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.select_field > div > div > img {
    height: 24px;
    width: auto;
}

.transfer_dialog .select_field input {
    box-sizing: border-box;
    color: #b1b1b1;
    font-family: 'Blinker', sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 130%;
    padding: .5rem 1rem;
}

.transfer_dialog .transfer_destination.header {
    min-height: 160px;
    display: flex;
    align-items: center;
}

.transfer_dialog .transfer_destination.header > div {
    width: 100%;
}

.transfer_dialog .select_field img {
    align-items: center;
    background: #F0D8FF;
    border-radius: 50px;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
    padding: 4px;
}

.transfer_dialog .tokens_secion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 16px 16px 16px;
}

.tokens_secion img {
    width: 20px;
    height: 20px;
}

.transfer_dialog .tokens_secion p {
    color: #fff;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.transfer_dialog .tokens_secion > button {
    padding: 4px 6px;
    border: 1px solid #FFF;
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: none;
    width: auto;
    border-radius: 8px;
}

.transfer_dialog p {
    color: #FFF;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    display: flex;
    align-items: center;
    gap: 6px;
}

.transfer_dialog p > img {
    width: 44px;
    height: 44px;
}

.transfer_dialog .address_text_field > div,
.transfer_dialog .from_namada .select_field > div {
    width: 100%;
}

.transfer_dialog .from_namada .select_field {
    width: 50%;
}

.transfer_dialog > .from_namada_transfer {
    top: 41%;
}

.transfer_dialog .transfer_source .border {
    border-bottom: 1px solid #ffffff26;
    margin: 10px 0;
    opacity: 0.4;
}

.transfer_destination .header_right {
    display: flex;
    align-items: center;
}

.transfer_dialog .fee {
    border: none;
    background: none;
}

.transfer_dialog .fee > p {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.transfer_dialog .fee > p > p {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
}
