.ibc_content {
    border-radius: 32px;
    backdrop-filter: blur(50px);
    padding: 32px;
    width: max-content;
    margin: 40px auto;
    /* background: #FFFF46; */
    background: #000;
    width: 550px;
}

.ibc_content > p {
    color: #fff;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;
}

.ibc_content > span {
    color: #000;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}


/* transfer dialog */
.transfer_dialog {
    max-width: 500px;
    margin: 10px auto 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 450px;
}

.transfer_dialog .header .header_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer_source .header button {
    background: #262626;
    color: #fff;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: none;
    border: 1px solid transparent;
}

.transfer_source .header button img {
    width: 20px;
    height: auto;
}

.transfer_source .header button > span:first-child {
    gap: 6px;
}

.transfer_source .header > .select_field {
    width: 45%;
}

.transfer_dialog .header .logout_icon {
    cursor: pointer;
    margin-left: 4px;
}

.transfer_dialog > div {
    padding: 24px 16px 20px;
    background: #161616;
    border-radius: 14px;
    border: 1px solid #232323;
}

.transfer_dialog > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfer_dialog > div > div.transfer_type {
    gap: 10px;
    margin-bottom: 30px;
}

.transfer_dialog .transfer_destination button {
    width: 100%;
    background: #262626;
    color: #fff;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: none;
    border: 1px solid transparent;
}

.transfer_dialog > div > div button.active_tab {
    border: 1px solid #FFFF46;
}

.transfer_dialog > div > div button:hover {
    background: #262626;
}

.transfer_dialog .address {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #696969;
    text-align: left;
    flex: 1 1;
    display: flex;
    max-width: 150px;
}

.transfer_dialog .address > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.transfer_dialog > button {
    background: #FFFF46 !important;
    border-radius: 16px;
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    text-transform: capitalize;
    padding: 10px 30px;
    border: 2px solid #000;
}

.transfer_dialog > button:disabled {
    opacity: 0.5;
}

.transfer_dialog > .arrow {
    width: 50px;
    height: 50px;
    background: #FFFF46;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 45%;
    top: 53%;
    /* cursor: pointer; */
}

.transfer_dialog .arrow > img {
    width: 80%;
    height: auto;
    margin: auto;
}

.transfer_dialog .transfer_source .select_section > div {
    width: 45%;
    margin: 20px 0;
}

.transfer_dialog .transfer_source .text_field.amount_text_field input::placeholder,
.transfer_dialog .transfer_source .text_field.amount_text_field input {
    color: #b1b1b1;
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.transfer_dialog .transfer_source .text_field.amount_text_field fieldset {
    border-color: #777777;
}

.transfer_dialog .select_field > div > div,
.transfer_dialog .select_section .select_field > div > div {
    align-items: center;
    border: 1px solid #696969;
    border-radius: 12px;
    box-sizing: border-box;
    color: #b1b1b1;
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    height: 46px;
}

.phase5_disable > div {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.phase5_disable > div > p {
    color: #ef4444;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.select_field > div > div > img {
    height: 24px;
    width: auto;
}

.transfer_dialog .select_field input {
    box-sizing: border-box;
    color: #b1b1b1;
    font-family: 'Blinker', sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 130%;
    padding: .5rem 1rem;
}

.transfer_dialog .transfer_destination.header {
    min-height: 160px;
    display: flex;
    align-items: center;
}

.transfer_dialog .transfer_destination.header > div {
    width: 100%;
}

.transfer_dialog .select_field img {
    align-items: center;
    background: #696969;
    border-radius: 50px;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
}

.transfer_dialog .tokens_secion p {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.transfer_dialog .tokens_secion > button {
    padding: 4px 6px;
    border: 1px solid #FFF;
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: none;
    width: auto;
    border-radius: 8px;
}

.transfer_dialog p {
    color: #FFF;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    display: flex;
    align-items: center;
    gap: 6px;
}

.transfer_dialog p > img {
    width: 28px;
    height: 28px;
}

.transfer_dialog .address_text_field > div,
.transfer_dialog .from_namada .select_field > div {
    width: 100%;
}

.transfer_dialog .from_namada .select_field {
    width: 50%;
}

.transfer_dialog > .from_namada_transfer {
    top: 41%;
}

.transfer_dialog .transfer_source .border {
    border-bottom: 1px solid #696969;
    margin: 10px 0;
    opacity: 0.4;
}

.transfer_destination .header_right {
    display: flex;
    align-items: center;
}

.transfer_dialog .fee {
    margin-top: 20px;
}

.transfer_dialog .transfer_destination .fee > p {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.transfer_dialog .transfer_destination .fee > p > b {
    color: #FFF;
    font-weight: 500;
}
