.shield_dialog {
    max-width: 500px;
    margin: 10px auto 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.shield_dialog > div {
    padding: 24px 16px 20px;
    background: #0B0B0B;
    border-radius: 14px;
    border: 1px solid #1A1A1A;
}

.shield_dialog > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shield_dialog .fee {
    margin-top: 20px;
}

.shield_dialog .transfer_destination .fee > p {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.shield_dialog .transfer_destination .fee > p > b {
    color: #FFF;
    font-weight: 500;
}

.shield_dialog .header p {
    color: #FFF;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    display: flex;
    align-items: center;
    gap: 6px;
}

.shield_dialog .header p > img,
.transfer_destination > div > p > img {
    width: 44px;
    height: 44px;
}

.shield_dialog .address {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #696969;
    text-align: left;
    flex: 1 1;
    display: flex  ;
    max-width: 150px;
}

.shield_dialog .address > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.shield_dialog .tokens_secion p {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.shield_dialog .tokens_secion > button {
    padding: 4px 6px;
    border: 1px solid #FFF;
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: none;
}

.shield_dialog .transfer_source .max_button {
    color: #fff;
    background: #FFFFFF1F;
    border: 1px solid #FFFFFF14;
    position: absolute;
    right: 5%;
    bottom: 66.5%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    color: #fff;
    background: #FFFFFF1F;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
    padding: 4px 2px;
    min-width: 64px;
    max-height: 30.8px;
}

.shield_dialog > button {
    background: #FFFF46 !important;
    border-radius: 24px;
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    text-transform: capitalize;
    padding: 10px 30px;
    border: 2px solid #000;
}

.shield_dialog .submit_button {
    background: #FFFF46 !important;
    border-radius: 24px;
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    text-transform: capitalize;
    padding: 10px 30px;
}

.shield_dialog > button:disabled,
.shield_dialog .submit_button:disabled {
    opacity: 0.5;
}

.shield_dialog > button .action_progress {
    position: absolute;
}

.shield_dialog > button .action_progress > div {
    color: #000;
}

.shield_dialog > .arrow {
    /* width: 50px;
    height: 50px; */
    /* background: #FFFF46; */
    /* border-radius: 50px; */
    display: flex;
    align-items: center;
    /* padding: 10px; */
    position: absolute;
    left: 43%;
    top: 39%;
    background: none;
    border: none;
}

.shield_dialog.shield_convert_arrow > .arrow {
    top: 42%;
}

.arrow > img {
    width: 100%;
    height: auto;
}

.transfer_source .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header .balance_span {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.balance_span > p:first-child {
    color: #FFFFFF80;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.balance_span > p:last-child {
    color: #FFFFFF;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

/* .transfer_source .header > button {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    height: 40px;
    padding: 10px 8px;
    color: #0B0B0B;
    font-family: 'Blinker', sans-serif;
    font-size: 14px;
    font-weight: 600;
} */

.transfer_source .border {
    border-bottom: 1px solid #696969;
    margin: 10px 0;
    opacity: 0.4;
}

.transfer_source .select_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.transfer_source .select_section > div {
    width: 45%;
    margin: 20px 0;
    background-color: #FFFFFF0F;
    border: 1px solid #FFFFFF05;
    border-radius: 12px;
}

.transfer_source .select_section > div:first-child {
    width: 40% !important;
}

.transfer_source .select_section > div:nth-child(2) {
    background: #FFFFFF0F;
    width: 60% !important;
    border-radius: 12px;
    border: 1px solid #FFFFFF05;
}

.transfer_source .select_section .select_field > div > div {
    align-items: center;
    /* border: 1px solid #696969;
    border-radius: 5px; */
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.transfer_source .select_section .select_field input {
    box-sizing: border-box;
    color: #696969;
    font-family: Blinker, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 130%;
    padding: .429rem 1rem;
}

.transfer_source .select_section .select_field img {
    align-items: center;
    /* background: #F0D8FF; */
    border-radius: 50px;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
}

.transfer_destination > div > p {
    color: #FFF;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    display: flex;
    align-items: center;
    gap: 6px;
}

.transfer_destination > div > span {
    color: #696969;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.transfer_destination > p {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration: underline;
    margin-top: 40px;
}

.transfer_source .transparent_tokens_secion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transparent_tokens_secion > button {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    color: #fff;
    background: #FFFFFF1F;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
    padding: 3px 2px;
    position: absolute;
    right: 5%;
    bottom: 262px;
}

.transfer_source .transparent_tokens_secion > span {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.transparent_tokens_secion > span > p:first-child {
    font-size: 12px;
    font-weight: 500;
    color: #bfbfbf;
    font-family: "Inter", sans-serif;
}

.transparent_tokens_secion > span > p:last-child {
    font-size: 12px;
    font-weight: 500;
    color: #FFFF46;
    font-family: "Inter", sans-serif;
}

.shield_dialog .fee {
    background: none;
    border: none;
    padding: 0px;
    border-radius: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    min-height: 34px;
}

.shield_dialog .fee > p:first-child {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF80;
    font-family: 'Blinker', sans-serif;
    display: flex;
}

.shield_dialog .fee > p > p {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Blinker', sans-serif;
}

.shield_dialog .transparent_shield_select_section {
    position: relative;
}

.shield_dialog .transparent_shield_select_section > button {
    position: absolute;
    right: 6px;
    bottom: 14px;

    font-size: 16px;
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    color: #fff;
    background: #FFFFFF1F;
    border: 1px solid #FFFFFF14;
    border-radius: 8px;
    padding: 3px 2px;
}

@media (max-width: 600px) {
    .transfer_source .header {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .transfer_destination > div {
        flex-direction: column;
    }

    .transparent_tokens_secion > button {
        position: absolute;
        right: 5%;
        bottom: 281px;
    }

    .shield_dialog .transfer_source .max_button {
        color: #fff;
        background: #FFFFFF1F;
        border: 1px solid #FFFFFF14;
        position: absolute;
        right: 5%;
        bottom: 63%;
    }
}

@media (max-width: 470px) {
    .transfer_source .transparent_shield_select_section {
        flex-direction: column !important;
        gap: 0px !important;
    }

    .transfer_source .transparent_shield_select_section .select_field {
        margin: 0px !important;
        width: 100% !important;
    }

    .transfer_source .transparent_shield_select_section .amount_text_field {
        margin-top: 5px !important;
        width: 100% !important;
    }

    .transparent_tokens_secion > button {
        right: 7%;
    }

    .shield_dialog > .arrow {
        top: 45%;
    }

    .transfer_source .select_section {
        flex-direction: column;
    }

    .transfer_source .select_section > div:first-child {
        width: 100% !important;
        margin: 0px !important;
    }

    .transfer_source .select_section > div:nth-child(2) {
        width: 100% !important;
        margin-top: 0px;
    }

    .shield_dialog .transfer_source .max_button {
        right: 7%;
        bottom: 59%;
    }

    .transfer_dialog .transfer_source .select_section .max_button {
        bottom: 14px;
    }
}
